
<semantic-form
  persistence='{"type": "sparql", "targetInsertGraphIri": "http://www.researchspace.org/resource/g/data", "repository":"default"}'
  new-subject-template='http://metapolis.com/resource/building/{{{{raw}}}}{{UUID}}{{{{/raw}}}}'
  fields='[[fieldDefinitions
    type                                    = "http://www.w3.org/2000/01/rdf-schema#type"
    has_type                                = "http://www.cidoc-crm.org/cidoc-crm/P2_has_type"
    has_label                               = "http://www.w3.org/2000/01/rdf-schema#label"
    building_has_function                   = "http://www.researchspace.org/pattern/building_has_function"

    entity_is_domain_of_relation_source     = "http://www.researchspace.org/pattern/entity_is_domain_of_relation_source"
    entity_is_range_of_relation_source      = "http://www.researchspace.org/pattern/entity_is_range_of_relation_source"
    entity_is_domain_of_relation_event      = "http://www.researchspace.org/pattern/entity_is_domain_of_relation_event"
    entity_is_range_of_relation_event       = "http://www.researchspace.org/pattern/entity_is_range_of_relation_event"
    entity_is_domain_of_relation_person     = "http://www.researchspace.org/pattern/entity_is_domain_of_relation_person"
    entity_is_range_of_relation_person      = "http://www.researchspace.org/pattern/entity_is_range_of_relation_person"
    entity_is_domain_of_relation_building   = "http://www.researchspace.org/pattern/entity_is_domain_of_relation_building"
    entity_is_range_of_relation_building    = "http://www.researchspace.org/pattern/entity_is_range_of_relation_building"

    physical_change_presence                = "http://www.researchspace.org/pattern/physical_change_presence"

  ]]'
  [[> rsp:FormDefaults]]
>

  <semantic-form-hidden-input for="type" default-values='["http://metapolis.com#Building"]'></semantic-form-hidden-input>
  <semantic-form-hidden-input for="has_type" default-value="http://metapolis.com/resource/type/Building"></semantic-form-hidden-input>

  <div class="form-scroll-area">
    <div class="container-fluid">
      
      {{#unless node}}
      <div class="page-header">
        <h1>Create New Building</h1>
        <p class="lead">Enter information about a building or structure</p>
      </div>
      {{/unless}}

      <bs-row>
        <bs-col md="6" sm="6">
          <div id="building_name">
            <semantic-form-text-input 
              label="Name" 
              placeholder="Enter the building name..." 
              for="has_label"
              description="The name or title of the building">
            </semantic-form-text-input>
          </div>
        </bs-col>
        <bs-col md="6" sm="6">
          <div id="building_function">
            <semantic-form-select-input 
              label="Function" 
              placeholder="Select the building function..." 
              for="building_has_function"
              description="The building function">
            </semantic-form-select-input>
          </div>
        </bs-col>
      </bs-row>
      
      <bs-row>
        <semantic-form-composite-input 
          for='physical_change_presence'
          render-header="false"
          label="Presences"
          new-subject-template='/physical_changes/'
          fields='[[ fieldDefinitions
            type                                    = "http://www.w3.org/2000/01/rdf-schema#type"
            physical_change_presence                = "http://www.researchspace.org/pattern/physical_change_presence"
          ]]'
        >
        
          <semantic-form-hidden-input for="type" default-value='http://www.cidoc-crm.org/cidoc-crm/E92_Spacetime_Volume'></semantic-form-hidden-input> 

          <semantic-form-composite-input for="physical_change_presence"
            label="Physical Phase"
            new-subject-template='/physical_change/{{{{raw}}}}{{UUID}}{{{{/raw}}}}'
            fields='[[ fieldDefinitions
              type                                    = "http://www.w3.org/2000/01/rdf-schema#type"
              physical_change_has_time-span           = "http://www.researchspace.org/pattern/physical_change_has_time-span"
              physical_change_2d_representation       = "http://www.researchspace.org/pattern/physical_change_2d_representation"
            ]]'
          >     
            <semantic-form-hidden-input for="type" default-value='http://www.cidoc-crm.org/cidoc-crm/E93_Presence'></semantic-form-hidden-input>

            <bs-row>
              <bs-col md="6" sm="6">
                <semantic-form-composite-input 
                  for="physical_change_has_time-span"
                  new-subject-template="/time-span" 
                  render-header="false" 
                  fields='[[ fieldDefinitions    
                    type                                    = "http://www.w3.org/2000/01/rdf-schema#type"
                    physical_change_bob                     = "http://www.researchspace.org/pattern/physical_change_bob"
                    physical_change_eoe                     = "http://www.researchspace.org/pattern/physical_change_eoe"
                  ]]'>
                    <bs-row>
                      <bs-col md="6" sm="6">
                        <semantic-form-datetime-input for="physical_change_bob" label="Begin"></semantic-form-datetime-input>
                      </bs-col>
                      <bs-col md="6" sm="6">
                        <semantic-form-datetime-input for="physical_change_eoe" end="true" label="End"></semantic-form-datetime-input>
                      </bs-col>
                    </bs-row>
                </semantic-form-composite-input>
              </bs-col>
                
              <bs-col md="6" sm="6">
                <semantic-context repository="ephedra">
                  <semantic-form-autocomplete-input for="physical_change_2d_representation" label="2D Representation"></semantic-form-autocomplete-input>
                </semantic-context>
              </bs-col>
            </bs-row>


          </semantic-form-composite-input>

        </semantic-form-composite-input>                           
      </bs-row>

      <bs-tabs id="entity_relation_tabs" default-active-key="11">

        <bs-tab event-key="11" title="Events">
          <bs-row>
            <bs-col lg="6">

              <strong>Outgoing relations</strong>

              <semantic-form-composite-input
                label="Outgoing relation"
                render-header="false"
                for="entity_is_domain_of_relation_event"
                new-subject-template="https://metapolis.com/resource/relation/{{{{raw}}}}{{UUID}}{{{{/raw}}}}"
                parent-subject="{{subject}}"
                fields='[[ fieldDefinitions
                  type                                    = "http://www.w3.org/2000/01/rdf-schema#type"
                  has_label                               = "http://www.w3.org/2000/01/rdf-schema#label"
                  relation_has_range_event                =  "http://www.researchspace.org/pattern/relation_has_range_event"
                ]]'
              >

              
              <semantic-form-hidden-input for="type" default-value='http://metapolis.com#Relation'></semantic-form-hidden-input>

                <bs-row>
                  <bs-col lg-offset="4" lg="4">
                    <semantic-form-drag-and-drop-input
                      for='relation_has_range_event'
                      placeholder-item-template="
                        <div class='image-uploader'>
                          <div><rs-icon icon-type='rounded' icon-name='Event' class='upload_icon' symbol='true'></rs-icon></div>
                          <div>Drag and Drop an event from another frame or</div>
                          <div><span class='text-link'>click to create a new Event.</span></div>
                        </div>"
                      nested-form-template='{{{{raw}}}}{{> metapolis_forms:Event nested=true editable=true mode="new" }}{{{{/raw}}}}'
                      label="Event">
                    </semantic-form-drag-and-drop-input>
                  </bs-col>
                </bs-row>

                <bs-row>
                  <bs-col lg="12" md="12">
                    <semantic-form-text-input label="Notes" for="has_label"></semantic-form-text-input>
                  </bs-col>
                </bs-row>
              
              </semantic-form-composite-input>

            </bs-col>

            <bs-col lg="6">

              <strong>Incoming relations</strong>

              <semantic-form-composite-input
                label="Incoming relation"
                render-header="false"
                for="entity_is_range_of_relation_event"
                new-subject-template="https://metapolis.com/resource/relation/{{{{raw}}}}{{UUID}}{{{{/raw}}}}"
                parent-subject="{{subject}}"
                fields='[[ fieldDefinitions
                  type                                    = "http://www.w3.org/2000/01/rdf-schema#type"
                  has_label                               = "http://www.w3.org/2000/01/rdf-schema#label"
                  relation_has_domain_event               = "http://www.researchspace.org/pattern/relation_has_domain_event"
                ]]'
              >

              <semantic-form-hidden-input for="type" default-value='http://metapolis.com#Relation'></semantic-form-hidden-input>

                <bs-row>
                  <bs-col lg-offset="4" lg="4">
                    <semantic-form-drag-and-drop-input
                      for='relation_has_domain_event'
                      placeholder-item-template="
                        <div class='image-uploader'>
                          <div><rs-icon icon-type='rounded' icon-name='Event' class='upload_icon' symbol='true'></rs-icon></div>
                          <div>Drag and Drop an event from another frame or</div>
                          <div><span class='text-link'>click to create a new Event.</span></div>
                        </div>"
                      nested-form-template='{{{{raw}}}}{{> metapolis_forms:Event nested=true editable=true mode="new" }}{{{{/raw}}}}'
                      label="Event">
                    </semantic-form-drag-and-drop-input>
                  </bs-col>
                </bs-row>

                <bs-row>
                  <bs-col lg="12" md="12">
                    <semantic-form-text-input label="Notes" for="has_label"></semantic-form-text-input>
                  </bs-col>
                </bs-row>
              
              </semantic-form-composite-input>

            </bs-col>

          </bs-row>

        </bs-tab>

        <bs-tab event-key="12" title="People">
          <bs-row>
            <bs-col lg="6">

              <strong>Outgoing relations</strong>

              <semantic-form-composite-input
                label="Outgoing relation"
                render-header="false"
                for="entity_is_domain_of_relation_person"
                new-subject-template="https://metapolis.com/resource/relation/{{{{raw}}}}{{UUID}}{{{{/raw}}}}"
                parent-subject="{{subject}}"
                fields='[[ fieldDefinitions
                  type                                    = "http://www.w3.org/2000/01/rdf-schema#type"
                  has_label                               = "http://www.w3.org/2000/01/rdf-schema#label"
                  relation_has_range_person               = "http://www.researchspace.org/pattern/relation_has_range_person"
                ]]'
              >
              
              <semantic-form-hidden-input for="type" default-value='http://metapolis.com#Relation'></semantic-form-hidden-input>

                <bs-row>
                  <bs-col lg-offset="4" lg="4">
                    <semantic-form-drag-and-drop-input
                      for='relation_has_range_person'
                      placeholder-item-template="
                        <div class='image-uploader'>
                          <div><rs-icon icon-type='rounded' icon-name='Person' class='upload_icon' symbol='true'></rs-icon></div>
                          <div>Drag and Drop a person from another frame or</div>
                          <div><span class='text-link'>click to create a new Person.</span></div>
                        </div>"
                      nested-form-template='{{{{raw}}}}{{> metapolis_forms:Person nested=true editable=true mode="new" }}{{{{/raw}}}}'
                      label="Person">
                    </semantic-form-drag-and-drop-input>
                  </bs-col>
                </bs-row>

                <bs-row>
                  <bs-col lg="12" md="12">
                    <semantic-form-text-input label="Notes" for="has_label"></semantic-form-text-input>
                  </bs-col>
                </bs-row>
              
              </semantic-form-composite-input>

            </bs-col>

            <bs-col lg="6">

              <strong>Incoming relations</strong>

              <semantic-form-composite-input
                label="Incoming relation"
                render-header="false"
                for="entity_is_range_of_relation_person"
                new-subject-template="https://metapolis.com/resource/relation/{{{{raw}}}}{{UUID}}{{{{/raw}}}}"
                parent-subject="{{subject}}"
                fields='[[ fieldDefinitions
                  type                                    = "http://www.w3.org/2000/01/rdf-schema#type"
                  has_label                               = "http://www.w3.org/2000/01/rdf-schema#label"
                  relation_has_domain_person              = "http://www.researchspace.org/pattern/relation_has_domain_person"
                ]]'
              >
              
              <semantic-form-hidden-input for="type" default-value='http://metapolis.com#Relation'></semantic-form-hidden-input>

                <bs-row>
                  <bs-col lg-offset="4" lg="4">
                    <semantic-form-drag-and-drop-input
                      for='relation_has_domain_person'
                      placeholder-item-template="
                        <div class='image-uploader'>
                          <div><rs-icon icon-type='rounded' icon-name='Person' class='upload_icon' symbol='true'></rs-icon></div>
                          <div>Drag and Drop a person from another frame or</div>
                          <div><span class='text-link'>click to create a new Person.</span></div>
                        </div>"
                      nested-form-template='{{{{raw}}}}{{> metapolis_forms:Person nested=true editable=true mode="new" }}{{{{/raw}}}}'
                      label="Person">
                    </semantic-form-drag-and-drop-input>
                  </bs-col>
                </bs-row>

                <bs-row>
                  <bs-col lg="12" md="12">
                    <semantic-form-text-input label="Notes" for="has_label"></semantic-form-text-input>
                  </bs-col>
                </bs-row>
              
              </semantic-form-composite-input>

            </bs-col>

          </bs-row>

        </bs-tab>

        <bs-tab event-key="13" title="Sources">
          <bs-row>
            <bs-col lg="6">

              <strong>Outgoing relations</strong>

              <semantic-form-composite-input
                label="Outgoing relation"
                render-header="false"
                for="entity_is_domain_of_relation_source"
                new-subject-template="https://metapolis.com/resource/relation/{{{{raw}}}}{{UUID}}{{{{/raw}}}}"
                parent-subject="{{subject}}"
                fields='[[ fieldDefinitions
                  type                                    = "http://www.w3.org/2000/01/rdf-schema#type"
                  has_label                               = "http://www.w3.org/2000/01/rdf-schema#label"
                  relation_has_range_source               = "http://www.researchspace.org/pattern/relation_has_range_source" 
                ]]'
              >
              
              <semantic-form-hidden-input for="type" default-value='http://metapolis.com#Relation'></semantic-form-hidden-input>

                <bs-row>
                  <bs-col lg-offset="4" lg="4">
                    <semantic-form-drag-and-drop-input
                      for='relation_has_range_source'
                      placeholder-item-template="
                        <div class='image-uploader'>
                          <div><rs-icon icon-type='rounded' icon-name='Source' class='upload_icon' symbol='true'></rs-icon></div>
                          <div>Drag and Drop a source from another frame or</div>
                          <div><span class='text-link'>click to create a new Source.</span></div>
                        </div>"
                      nested-form-template='{{{{raw}}}}{{> metapolis_forms:Source nested=true editable=true mode="new" }}{{{{/raw}}}}'
                      label="Source">
                    </semantic-form-drag-and-drop-input>
                  </bs-col>
                </bs-row>

                <bs-row>
                  <bs-col lg="12" md="12">
                    <semantic-form-text-input label="Notes" for="has_label"></semantic-form-text-input>
                  </bs-col>
                </bs-row>
              
              </semantic-form-composite-input>

            </bs-col>

            <bs-col lg="6">

              <strong>Incoming relations</strong>

              <semantic-form-composite-input
                label="Incoming relation"
                render-header="false"
                for="entity_is_range_of_relation_source"
                new-subject-template="https://metapolis.com/resource/relation/{{{{raw}}}}{{UUID}}{{{{/raw}}}}"
                parent-subject="{{subject}}"
                fields='[[ fieldDefinitions
                  type                                    = "http://www.w3.org/2000/01/rdf-schema#type"
                  has_label                               = "http://www.w3.org/2000/01/rdf-schema#label"
                  relation_has_domain_source               = "http://www.researchspace.org/pattern/relation_has_domain_source" 
                ]]'
              >

              
              <semantic-form-hidden-input for="type" default-value='http://metapolis.com#Relation'></semantic-form-hidden-input>

                <bs-row>
                  <bs-col lg-offset="4" lg="4">
                    <semantic-form-drag-and-drop-input
                      for='relation_has_domain_source'
                      placeholder-item-template="
                        <div class='image-uploader'>
                          <div><rs-icon icon-type='rounded' icon-name='Source' class='upload_icon' symbol='true'></rs-icon></div>
                          <div>Drag and Drop a source from another frame or</div>
                          <div><span class='text-link'>click to create a new Source.</span></div>
                        </div>"
                      nested-form-template='{{{{raw}}}}{{> metapolis_forms:Source nested=true editable=true mode="new" }}{{{{/raw}}}}'
                      label="Source">
                    </semantic-form-drag-and-drop-input>
                  </bs-col>
                </bs-row>

                <bs-row>
                  <bs-col lg="12" md="12">
                    <semantic-form-text-input label="Notes" for="has_label"></semantic-form-text-input>
                  </bs-col>
                </bs-row>
              
              </semantic-form-composite-input>

            </bs-col>

          </bs-row>

        </bs-tab>

        
      </bs-tabs>

    </div>
  </div>

  <semantic-form-errors></semantic-form-errors>

[[> rsp:FormDefaultActions formEntity='{{#if entityType}}{{entityType}}{{else}}Metapolis Building{{/if}}']]

</semantic-form>

<style>
  .form-scroll-area {
    padding: 20px;
  }
  
  .page-header {
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
  }
  
  .page-header h1 {
    color: #2c3e50;
    margin-bottom: 10px;
  }
  
  .page-header .lead {
    color: #7f8c8d;
    margin-bottom: 0;
  }
  
  .semantic-form-text-input,
  .semantic-form-tree-picker-input {
    margin-bottom: 20px;
  }
</style>